
/*
左边
*/
body{
	background: #eee url("../../img/bg/default.jpg") no-repeat center;
  	opacity:0.8;
  	filter:alpha(opacity=80);
  	-moz-opacity:0.8;opacity:0.8;
  	-khtml-opacity: 0.8;
}
div#music-album-list{
	height: 770px;
	padding: 0;
	margin-top: 20px;
}

#music-album-list a {
	text-decoration: none;
}

#music-album-list #album-left, #album-right {
	height: 100%;
	padding: 0;
}

#album-left .mnav {
	height: 10%;
}

#album-left .mlist {
	height: 90%;
	max-width:100%;
	max-height:90%;
	overflow-y: scroll; 
	scroll: both;
	padding: 0 10px;
}

#album-left .mlist img{
	width:180px;
	height:180px;
	cursor: pointer;
}
/*封面描述*/
#album-left .img-desc{
	position: relative;
	display: block;
}
#album-left .img-desc cite {
	background: #111;
	filter:alpha(opacity=55);
	opacity:.55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 180px;
	padding: 10px;
	border-top: 1px solid #999;
}
/*音乐名称*/
#album-left .mlist .song-name{
	width: 200px;
	padding-right:20px;
	overflow: hidden;
	text-align: left;
	text-shadow: 0 -1px 1px #eee;
}

#album-left .mlist .profile{
	clear:both;
	margin-top: 20px;
}
#album-left .mlist .profile span{
	cursor: pointer;
}

#album-left .mlist .music{
	width: 220px;
	height: 220px;
}

#album-left {
	width: 62%;
}
#album-right {
	width: 38%;
}

#album-right .cover {
	height: 40%;
}

#album-right .lrc {
	height: 50%;
	padding: 20px;
}

/*
 * 右边
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.music-player {
  font-size: 100%;
  font: inherit;
  position: relative;
  /*width: 350px;*/
  width: 90%;
  height: 290px;
  margin: 8px auto;
  margin-top: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  background: #222;
  overflow: hidden;
  z-index: 0;
}
.music-player img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  display: block;
  width: 100% !important;
  height: 100% !important;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.music-player .info {
  width: 100%;
  height: 100px;
  background: #222;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  position: relative;
}
.music-player .info .jp-playlist li {
  display: none;
}
.music-player .info .jp-playlist li a {
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  color: rgba(225, 225, 225, 0.4);
}
.music-player .info .jp-playlist li a span {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.music-player .info .jp-playlist li.jp-playlist-current {
  display: block;
}
.music-player .info .jp-playlist li .jp-free-media, .music-player .info .jp-playlist li .jp-playlist-item-remove {
  display: none;
}
.music-player .info .left, .music-player .info .right {
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.music-player .info .right {
  left: auto;
  right: 30px;
}
.music-player .info [class^="icon-"] {
  margin: 0 0 10px;
}
.music-player .info .center {
  padding: 20px 0 0;
}
.music-player .progress, .music-player .volume-level {
  width: 100%;
  height: 5px;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
}
.music-player .progress span, .music-player .volume-level span {
  position: relative;
  display: block;
  background: #ed553b;
  width: 0%;
  height: 5px;
}
.music-player .progress span:after, .music-player .volume-level span:after {
  position: absolute;
  right: -5px;
  top: -8px;
  content: "";
  width: 10px;
  height: 22px;
  background: url("icon/tsqwz1N.png") no-repeat center;
}
.music-player .controls {
  text-align: center;
  width: 100%;
  height: 190px;
  background: #982e4b;
  background: rgba(152, 46, 75, 0.6);
}
.music-player .controls .current {
  font-size: 48px;
  color: #fff;
  color: rgba(225, 225, 225, 0.4);
  padding: 15px 0 20px;
}
.music-player .controls .play-controls a {
  display: inline-block;
  width: 35px;
  height: 40px;
  margin: 0 30px;
}
.music-player .controls .volume-level {
  position: relative;
  bottom: auto;
  width: 200px;
  height: 2px;
  margin: 30px auto 0;
  background: rgba(225, 225, 225, 0.3);
}
.music-player .controls .volume-level span {
  height: 2px;
}
.music-player .controls .volume-level span:after {
  right: -11px;
  top: -8px;
  width: 22px;
  height: 22px;
  background-image: url("icon/V5i67V2.png");
}
.music-player .controls .volume-level a {
  position: absolute;
  right: -32px;
  top: -8px;
  width: 22px;
}
.music-player .controls .volume-level a.icon-volume-down {
  right: auto;
  left: -25px;
}

[class^="icon-play-"] {
  width: 18px;
  height: 18px;
  background: url("icon/E09T8tf.png") no-repeat center;
  display: block;
}

.icon-play-shuffle {
  background-image: url("icon/shuffle.png");
}
.icon-play-heart {
  background-image: url("icon/heart.png");
}
.icon-play-repeat {
  background-image: url("icon/repeat.png");
}
.icon-play-share {
  background-image: url("icon/share.png");
}
.icon-play-previous {
  background-image: url("icon/previous.png");
}
.icon-play-play {
  background-image: url("icon/play.png");
}
.icon-play-pause {
  background-image: url("icon/pause.png");
}
.icon-play-next {
  background-image: url("icon/next.png");
}
.icon-play-volume-up {
  background-image: url("icon/volume-up.png");
}
.icon-play-volume-down {
  background-image: url("icon/volume-down.png");
}

.copyrights {
  text-align: center;
  text-transform: capitalize;
  margin: 50px;
  color: rgba(0, 0, 0, 0.6);
}
.copyrights a {
  color: rgba(152, 46, 75, 0.9);
  text-decoration: none;
}
