@CHARSET "utf-8";

*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, 'microsoft yahei', Arial, sans-serif;
	font-size: 12px;
	background-color: #f4f4f4;
	overflow: scroll;
	scroll: both;
	/*background: #eee url("http://i.imgur.com/82fLDu4.jpg") no-repeat center;*/
}
.left{
	float: left;
}
.clear{
	clear: both;
}

#upload_music_form .n-invalid {border: 1px solid #f00;}