@CHARSET "utf-8";

*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, 'microsoft yahei', Arial, sans-serif;
	font-size: 12px;
	background-color: #f4f4f4;
	overflow: scroll;
	scroll: both;
	/*background: #eee url("http://i.imgur.com/82fLDu4.jpg") no-repeat center;*/
}
.left{
	float: left;
}
.clear{
	clear: both;
}
/*
音乐专辑
*/
/*
div#music-album-list{
	margin-top: 20px;
}
#music-album-list .card{
	width: 200px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 10px black;
	-moz-box-shadow:0 0 10px black;
	padding:10px;
}
#music-album-list a{
	text-decoration: none;
}
*/
/*
曲目封面
*/
#music-album-list .card .music-cover{
	width: 170px;
	height: 150px;
	cursor: pointer;
	margin: 0 auto;
	vertical-align: middle;
}
/*
曲目名称
*/
#music-album-list .song-name{
	padding-right:20px;
	overflow: hidden;
	text-shadow: 0 -1px 1px #eee;
}

/*
* 播放器
*/
#player {
	width: 250px;
	border: 1px solid #000;
	font: 12px/150% Simsun, Arial;
	padding: 5px;
}

#player #title {
	float: left;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#player #time {
	float: right;
}

#player #range {
	display: block;
	margin: 0;
	padding: 0;
	width: 242px;
	clear: both;
}

#player.button {
	display: inline-block;
	border: 1px solid #000;
	text-align: center;
	padding: 3px;
	text-decoration: none;
	color: #000;
}

#player.button:hover {
	border-color: #966;
	color: #966;
}

#player#play {
	width: 40px;
}

#player#volume {
	width: 75px;
	vertical-align: bottom;
}