@CHARSET "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, 'microsoft yahei', Arial, sans-serif;
	font-size: 12px;
	background-color: #f4f4f4;
	overflow: scroll;
	scroll: both;
	
}

.left {
	float: left;
}

.clear {
	clear: both;
}

#upload_music_form .n-invalid {
	border: 1px solid #f00;
}