<% include("/header.html"){} %>
<style>
#music-album-list{
	height: 500px;
}
#music-album-list div{
	height: 100%;
}
</style>
<!-- 音乐专辑 -->
<div id="music-album-list" class="col-lg-12">
	<!-- left -->
	<div class="col-lg-1 bg-default">
		left
	</div>
	<!-- right -->
	<div class="col-lg-11 bg-primary">
		right
	</div>
</div>

<!-- 播放区域 -->
<!-- 
<div>
	<div id="player">
		<div id="title"></div>
		<div id="time"></div>
		<input id="range" type="range" min="0" max="1" step="any" value="0" />
		<a id="play" class="button" href="javascript:void(0);"></a> 
		音量:<input id="volume" type="range" min="0" max="1" step="any" value="0.5" />
	</div>
</div>
 -->
<% include("/footer.html",{jsList:['front/music.js']}){} %>
