<% include("/header.html"){} %>
<link rel="stylesheet" href="${cdn}/static/css/player/reset.css">
<link rel="stylesheet" href="${cdn}/static/css/player/style.css">
<!-- 音乐专辑 -->
<div id="music-album-list" class="col-lg-12 ">
	<!-- left -->
	<div id="album-left" class="col-lg-8">
		<div class="mnav">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);">最热曲目</a></li>
				<li><a href="javascript:void(0);">最新推荐</a></li>
				<li><a href="javascript:void(0);">XXXX</a></li>
				<li><a href="javascript:void(0);">XXXX</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search" _lpchecked="1">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</div>
		<!-- 音乐列表区域 -->
		<div class="clear mlist">
			<div class="with-padding left">
				<img src="${cdn}/static/img/img2.jpg" width="200px" height="200px"
					class="img-thumbnail" alt="">
			</div>
			<div class="with-padding left">
				<img src="${cdn}/static/img/img2.jpg" width="200px" height="200px"
					class="img-thumbnail" alt="">
			</div>
			<div class="with-padding left">
				<img src="${cdn}/static/img/img2.jpg" width="200px" height="200px"
					class="img-thumbnail" alt="">
			</div>
			<div class="with-padding left">
				<img src="${cdn}/static/img/img2.jpg" width="200px" height="200px"
					class="img-thumbnail" alt="">
			</div>
		</div>
	</div>
	<!-- right -->
	<div id="album-right" class="col-lg-4">
		<div class="clear cover">
			<div class="music-player">
				<!--<div style="background-image: url(http://i.imgur.com/yqB0erk.jpg);" class="album"></div>-->

				<div class="info">
					<div class="left">
						<a href="javascript:;" class="icon-play-shuffle"></a> <a
							href="javascript:;" class="icon-play-heart"></a>
					</div>
					<div class="center">
						<div class="jp-playlist">
							<ul>
								<li></li>
							</ul>
						</div>

					</div>
					<div class="right">
						<a href="javascript:;" class="icon-play-repeat"></a> <a
							href="javascript:;" class="icon-play-share"></a>
					</div>

					<div class="progress jp-seek-bar">
						<span class="jp-play-bar" style="width: 0%"></span>
					</div>
				</div>

				<div class="controls">
					<div class="current jp-current-time">00:00</div>
					<div class="play-controls">
						<a href="javascript:;" class="icon-play-previous jp-previous"
							title="previous"></a> <a href="javascript:;"
							class="icon-play-play jp-play" title="play"></a> <a
							href="javascript:;" class="icon-play-pause jp-pause" title="pause"></a>
						<a href="javascript:;" class="icon-play-next jp-next" title="next"></a>
					</div>
					<div class="volume-level jp-volume-bar">
						<span class="jp-volume-bar-value" style="width: 0%"></span> <a
							href="javascript:;" class="icon-play-volume-up jp-volume-max"
							title="max volume"></a> <a href="javascript:;"
							class="icon-play-volume-down jp-mute" title="mute"></a>
					</div>
				</div>

				<div id="jquery_jplayer" class="jp-jplayer"></div>

			</div>
		</div>
		<div class="clear highlight-default other"></div>
	</div>
</div>

<!-- 播放区域 -->
<!-- 
<div>
	<div id="player">
		<div id="title"></div>
		<div id="time"></div>
		<input id="range" type="range" min="0" max="1" step="any" value="0" />
		<a id="play" class="button" href="javascript:void(0);"></a> 
		音量:<input id="volume" type="range" min="0" max="1" step="any" value="0.5" />
	</div>
</div>
 -->
<!-- <% include("/footer.html",{jsList:['front/music.js']}){} %> -->
<script src='${cdn}/static/js/jq/jquery.jplayer.min.js'></script>
<script src='${cdn}/static/js/jq/jplayer.playlist.min.js'></script>
<script type="text/javascript">
	$(document)
			.ready(
					function() {
						var playlist = [
								{
									title : "Hidden",
									artist : "Miaow",
									mp3 : "http://jq22.qiniudn.com/i1.mp3",
									//oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg",
									poster : "http://33.media.tumblr.com/0b35eb42176eedbf4a96e52efa760875/tumblr_mxp7a0v3fr1rqx86wo1_500.png"
								},
								{
									title : "Cro Magnon Man",
									artist : "The Stark Palace",
									mp3 : "http://jq22.qiniudn.com/i2.mp3",
									//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg",
									poster : "http://33.media.tumblr.com/bf9dc125a47dcca91ce5b3575bc3ba92/tumblr_nbmb3j8nU51sq3g2zo1_500.png"
								},
								{
									title : "Bubble",
									m4a : "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
									oga : "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg",
									poster : "http://31.media.tumblr.com/810b1125a8b9e9f192d009ef58dceb07/tumblr_nbe8wsmKuz1rknpqyo1_500.jpg"
								} ];

						var cssSelector = {
							jPlayer : "#jquery_jplayer",
							cssSelectorAncestor : ".music-player"
						};

						var options = {
							swfPath : "http://cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/Jplayer.swf",
							supplied : "ogv, m4v, oga, mp3"
						};

						var myPlaylist = new jPlayerPlaylist(cssSelector,
								playlist, options);

					});
</script>
<% include("/footer.html"){} %>
