<% include("/header.html"){} %>
<link rel="stylesheet" href="${cdn}/static/css/player/reset.css">
<link rel="stylesheet" href="${cdn}/static/css/player/style.css">
<div id="main">
	<h3 class="header-dividing label-default"><span class="label label-dot label-primary"></span> 标题</h3>
	<section class="cards">
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <strong class="card-heading">图片标题飞</strong>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <strong class="card-heading">Lorem ipsum dolor sit.</strong>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <strong class="card-heading">Lorem ipsum dolor sit.</strong>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <strong class="card-heading">Lorem ipsum dolor sit.</strong>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <a href="###" class="card">
                <img src="${cdn}/static/img/img2.jpg" alt="">
                <h5 class="card-heading">Lorem ipsum dolor sit.</h5>
              </a>
            </div>
          </section>
</div>

<script src='${cdn}/static/js/jq/jquery.jplayer.min.js'></script>
<script src='${cdn}/static/js/jq/jplayer.playlist.min.js'></script>
<% include("/footer.html", {jsList:['front/music.js']}){} %>
