<% include("/header.html"){} %>
<!--装载文件-->  
<link href="${cdn}/static/uploadify/uploadify.css" rel="stylesheet" type="text/css" />  
	<form id="upload_music_form" action="${base}/admin/music/save" method="post">
		<div>
			音乐链接：<input style="width: 300px;" name="song_path" type="text" width="300" value="${music.song_path!}"/>
		</div>
		<div>
			歌手名称：<input style="width: 300px;" name="singer" type="text" value="${music.singer!}"/>
		</div>
		<div>
			歌曲名称：<input style="width: 300px;" name="song" type="text" value="${music.song!}"/>
		</div>
		<div>
			歌曲描述：<textarea name="introduce" rows="3" cols="10">${music.introduce!}</textarea>
		</div>
		<div>
			所属分类：<input name="cids" type="text" value="${music.cids!}"/>
		</div>
		
		<div id="fileQueue"></div>  
	    <input type="file" name="uploadify" id="uploadify" />  
	    <input id="submit_btn" type="button" value="确认添加"/>
    </form>
	
	
	<script type="text/javascript" src="${cdn}/static/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {  
			
			$('#submit_btn').click(function(){
				var url = "${base}/admin/music/save";
				var paramter = $('#upload_music_form').serializeArray();
				$.post(url, paramter, function(data){
					if(data == 'success'){
						alert('保存成功！');
					} else if(data == 'error'){
						alert('保存失败！');
					}
				},"text");
			});
			
	        $("#uploadify").uploadify({  
	            'uploader' : '${base}/upload/temp_file',  
	            'swf' : '${cdn}/static/uploadify/uploadify.swf',  
	            'cancelImg' : '${cdn}/static/uploadify/uploadify-cancel.png',  
	            'queueID' : 'fileQueue',//与下面的id对应  
	            'queueSizeLimit' : 5,  
	            'fileintroduce' : 'mp3文件',  
	            'fileExt' : '*.mp3',
	            'method' : 'get',
	            'auto' : true,  
	            'multi' : false,  
	            'simUploadLimit' : 1,  
	            'buttonText' : '选择音乐文件',  
	            'onUploadSuccess' : function(file,data,response) {//上传完成时触发（每个文件触发一次）  
	            	if(data){
	            		data = eval("("+data+")");
	            		$('#upload_music_form').find('input[name="song_path"]').val(data.save_path).attr('readonly',true);
	            		$('#upload_music_form').find('input[name="song"]').val(data.file_name);
	            		$('#uploadify').val('');
	            	}
	            }  
	        });  
	    });  
	</script>
<% include("/common.html"){} %>
<% include("/footer.html"){} %>
